.App {
  max-width: 900px;
  display: block;
  margin: 0 auto;
  font-family: monospace;
}

.App-header {
  margin: 30px;
}

.App-logo {
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
  margin: 30px;
  opacity: 0.5;
  font-weight: bold;
}

@media (max-width: 600px) {
  .App-header {
    margin: 10px;
  }
}